body{
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
}

.esdf{
    text-align: center;
    padding: 2rem 10rem;
}

.fasd{
    margin-top: 15px;
}

.lokj{
    margin: 15px 5px 0 5px;
}

.loplop{
    display: flex;
}

.vxu{
    margin-top: 3px;
}

.vbhhj{
    padding-top: 2rem;
}

input{
    background-color: transparent;
}

#hahah{
    width: 40%;
    padding: 7px;
    background-color: transparent;
    border: 1px solid rgb(199, 193, 193);
    border-radius: 5px;
}

.caf .okayyyy .fcxsd div{
    margin-left: 8px;
}

.okayyyy{
    padding-top: 10px;
}

.shjiop{
    display: flex;
    margin-left: 19.5rem;
}

.caf{
    background-color: rgb(24, 23, 23);
    margin: 0 19rem 0;
    margin-top: 0;
    border-radius: 20px;
    display: flex;
}


.gfb{
    position: relative;
}

.fcxsd{
    display: flex;
    margin-left: 15px;
}

.ffff{
    position: absolute;
}
